### GIT IGNORE, dkroeske@gmail.com, jan '15

### node_modules en logs ###
software/logger/emon.log
software/server/logs/*
software/server/node_modules
software/database/backup
software/database/emon.db
software/logger/*.log

### Apple stuff
.AppleDouble
.DS_Store
.idea/
